## Classification Problem : Bank Marketing

### Problem Description - Bank Marketing Decision

Our goal is to find the clients before call whether they would subscribe to the product (bank term deposit), ('yes') or not ('no').

    The data is related with direct marketing campaigns of a banking institution
    The marketing campaigns were based on phone calls
    Often, more than one contact to the same client was required

#### Data

    age: age of the Client (numeric)
    
    job: type of job (categorical: 'admin.','blue collar','entrepreneur','housemaid','management','retired','self employed','services','student','technician','unemployed','unknown')
    
    marital: marital status (categorical: 'divorced','married','single','unknown'; note: 'divorced' means                       divorced or widowed)
    
    education:   (categorical:'basic.4y','basic.6y','basic.9y','high.school','illiterate','professional.course','university.degree','unknown')
    
    default: has credit in default? (categorical: 'no','yes','unknown')
    
    housing: has housing loan? (categorical: 'no','yes','unknown')
    
    loan: has personal loan? (categorical: 'no','yes','unknown')
    
    contact: contact communication type (categorical: 'cellular','telephone')
    
    month: last contact month of year (categorical: 'jan', 'feb', 'mar', ..., 'nov', 'dec')
    
    day_of_week: last contact day of the week (categorical: 'mon','tue','wed','thu','fri')
    
    duration: last contact duration, in seconds (numeric)
    
    campaign: number of contacts performed during this campaign and for this client (numeric, includes last                     contact)
    
    pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric;              999 means client was not previously contacted)
    
    previous: number of contacts performed before this campaign and for this client (numeric)
    
    poutcome: outcome of the previous marketing campaign (categorical: 'failure','nonexistent','success')social                 and economic context attributes
    
    emp.var.rate: employment variation rate quarterly indicator (numeric)
    
    cons.price.idx: consumer price index monthly indicator (numeric)
    
    cons.conf.idx: consumer confidence index monthly indicator (numeric)
    
    euribor3m: euribor 3 month rate - daily indicator (numeric)
    
    nr.employed: number of employees quarterly indicator (numeric)

#### Objective

Predict whether a customer will subscribe to the product or not. 

        Supervised learning --> Classification --> Binary Classification.

### Import all required libraries

In [1]:
import os
import configparser
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score

from joblib import dump

import warnings
warnings.filterwarnings('ignore')

#### Set the Current working directory

In [2]:
PATH = os.getcwd()

In [3]:
print('\n Reading config file...')
config = configparser.ConfigParser()
config.read(PATH+'/conf/config.ini')

 Reading config file...

['/AppPython/conf/config.ini']

In [4]:
host        = config['MySQL']['host']
port        = config['MySQL']['port']
user        = config['MySQL']['user']
password    = config['MySQL']['password']
db          = config['MySQL']['db']

svm_c       = int(config['Model']['c'])
svm_kernel  = config['Model']['kernel']
svm_gamma   = float(config['Model']['gamma'])

cat_Attr_Names = config['Dtypes']['category'].split(',')
num_Attr_Names = config['Dtypes']['float64'].split(',')

In [5]:
connector = 'mysql+mysqlconnector://' + str(user) + ':' + str(password) + '@' + str(host) + ':' + str(port) + '/' + str(db)
print(connector)

data = pd.read_sql("select * from bank", con=connector)

mysql+mysqlconnector://root:insofe@172.17.0.2:3306/cust_db

### Understanding the data

#### Number of rows and columns

In [6]:
data.shape

(41188, 22)

#### Column or Attribute names

In [7]:
data.columns

Index(['customer_no', 'age', 'job', 'marital', 'eduation', 'credit_default',
       'housing', 'loan', 'contact', 'contacted_month', 'day_of_week',
       'duration', 'compaign', 'pdays', 'previous', 'poutcome', 'emp_var_rate',
       'cons_price_idx', 'cons_conf_idx', 'euribor3m', 'nr_employees', 'y'],
      dtype='object')

#### Display first 5 and last 5 records

In [8]:
data.head()

,customer_no,age,job,marital,eduation,credit_default,housing,loan,contact,contacted_month,...,compaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employees,y
0,1,56,housemaid,married,basic.4y,no,no,no,telephone,may,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,2,57,services,married,high.school,unknown,no,no,telephone,may,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,3,37,services,married,high.school,no,yes,no,telephone,may,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,4,40,admin.,married,basic.6y,no,no,no,telephone,may,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,5,56,services,married,high.school,no,no,yes,telephone,may,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [9]:
data.tail()

,customer_no,age,job,marital,eduation,credit_default,housing,loan,contact,contacted_month,...,compaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employees,y
41183,41184,73,retired,married,professional.course,no,yes,no,cellular,nov,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,41185,46,blue-collar,married,professional.course,no,no,no,cellular,nov,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,41186,56,retired,married,university.degree,no,yes,no,cellular,nov,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,41187,44,technician,married,professional.course,no,no,no,cellular,nov,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,41188,74,retired,married,professional.course,no,yes,no,cellular,nov,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

Replace "unknown" with np.nan

In [10]:
data.replace(to_replace=['unknown'], value=np.nan, inplace=True)

# customer_no is not of much value to dropping it
data = data.drop(['customer_no'], axis=1)

#### Summary Statistics

In [11]:
data.describe()

,age,duration,pdays,previous,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employees
count,41188.00000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000
mean,40.02406,258.285010,962.475454,0.172963,0.081886,93.575664,-40.502600,3.621291,5167.035911
std,10.42125,259.279249,186.910907,0.494901,1.570960,0.578840,4.628198,1.734447,72.251528
min,17.00000,0.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000
25%,32.00000,102.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.344000,5099.100000
50%,38.00000,180.000000,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000
75%,47.00000,319.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000
max,98.00000,4918.000000,999.000000,7.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000

In [12]:
data.describe(include='all')

,age,job,marital,eduation,credit_default,housing,loan,contact,contacted_month,day_of_week,...,compaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employees,y
count,41188.00000,40858,41108,39457,32591,40198,40198,41188,41188,41188,...,41188,41188.000000,41188.000000,41188,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188
unique,NaN,11,3,7,2,2,2,2,10,5,...,42,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,2
top,NaN,admin.,married,university.degree,no,yes,no,cellular,may,thu,...,1,NaN,NaN,nonexistent,NaN,NaN,NaN,NaN,NaN,no
freq,NaN,10422,24928,12168,32588,21576,33950,26144,13769,8623,...,17642,NaN,NaN,35563,NaN,NaN,NaN,NaN,NaN,36548
mean,40.02406,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,962.475454,0.172963,NaN,0.081886,93.575664,-40.502600,3.621291,5167.035911,NaN
std,10.42125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,186.910907,0.494901,NaN,1.570960,0.578840,4.628198,1.734447,72.251528,NaN
min,17.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.000000,0.000000,NaN,-3.400000,92.201000,-50.800000,0.634000,4963.600000,NaN
25%,32.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,999.000000,0.000000,NaN,-1.800000,93.075000,-42.700000,1.344000,5099.100000,NaN
50%,38.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,999.000000,0.000000,NaN,1.100000,93.749000,-41.800000,4.857000,5191.000000,NaN
75%,47.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,999.000000,0.000000,NaN,1.400000,93.994000,-36.400000,4.961000,5228.100000,NaN
max,98.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,999.000000,7.000000,NaN,1.400000,94.767000,-26.900000,5.045000,5228.100000,NaN

In [13]:
data.dtypes

age                  int64
job                 object
marital             object
eduation            object
credit_default      object
housing             object
loan                object
contact             object
contacted_month     object
day_of_week         object
duration             int64
compaign            object
pdays                int64
previous             int64
poutcome            object
emp_var_rate       float64
cons_price_idx     float64
cons_conf_idx      float64
euribor3m          float64
nr_employees       float64
y                   object
dtype: object

#### Observations

Few attributes such as job, marital, education, default, housing, loan, contact, month, day_of_week, poutcome and y are categorical but are interpreted as object type.

#### TypeCasting - Convert the attribute in to appropriate type

Using astype('category') to convert job, marital, education, default, housing, loan, contact, month, day_of_week, poutcome and y attributes to categorical attributes from existing object datatype

In [14]:
# Convert attributes into appropriate type
data[cat_Attr_Names] = data[cat_Attr_Names].apply(lambda col: col.astype('category'))
data[num_Attr_Names] = data[num_Attr_Names].apply(lambda col: col.astype('float64'))

In [15]:
data.dtypes

age                 float64
job                category
marital            category
eduation           category
credit_default     category
housing            category
loan               category
contact            category
contacted_month    category
day_of_week        category
duration            float64
compaign            float64
pdays               float64
previous            float64
poutcome           category
emp_var_rate        float64
cons_price_idx      float64
cons_conf_idx       float64
euribor3m           float64
nr_employees        float64
y                  category
dtype: object

In [16]:
X = data.drop('y', axis=1)
y = np.array(data['y'])

cat_Attr_Names.remove('y')

#### Handling of missing data

In [17]:
data.isnull().sum()

age                   0
job                 330
marital              80
eduation           1731
credit_default     8597
housing             990
loan                990
contact               0
contacted_month       0
day_of_week           0
duration              0
compaign              0
pdays                 0
previous              0
poutcome              0
emp_var_rate          0
cons_price_idx        0
cons_conf_idx         0
euribor3m             0
nr_employees          0
y                     0
dtype: int64

#### Categorial attributes distribution

In [18]:
for attr in cat_Attr_Names:
    print(attr)
    print(data[attr].value_counts(), '\n')

job
admin.           10422
blue-collar       9254
technician        6743
services          3969
management        2924
retired           1720
entrepreneur      1456
self-employed     1421
housemaid         1060
unemployed        1014
student            875
Name: job, dtype: int64

marital
married     24928
single      11568
divorced     4612
Name: marital, dtype: int64

eduation
university.degree      12168
high.school             9515
basic.9y                6045
professional.course     5243
basic.4y                4176
basic.6y                2292
illiterate                18
Name: eduation, dtype: int64

credit_default
no     32588
yes        3
Name: credit_default, dtype: int64

housing
yes    21576
no     18622
Name: housing, dtype: int64

loan
no     33950
yes     6248
Name: loan, dtype: int64

contact
cellular     26144
telephone    15044
Name: contact, dtype: int64

contacted_month
may    13769
jul     7174
aug     6178
jun     5318
nov     4101
apr     2632
oct      718
sep      570
mar      546
dec      182
Name: contacted_month, dtype: int64

day_of_week
thu    8623
mon    8514
wed    8134
tue    8090
fri    7827
Name: day_of_week, dtype: int64

poutcome
nonexistent    35563
failure         4252
success         1373
Name: poutcome, dtype: int64

In [19]:
pd.value_counts(y)

no     36548
yes     4640
dtype: int64

### Train-Test Split

Using sklearn.model_selection.train_test_split

    Split the data into train and test subsets

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=123)

In [21]:
print(X_train.shape)
print(X_test.shape)

(28831, 20)
(12357, 20)

#### Impute Numeric Attributes

In [22]:
impute_num = SimpleImputer(strategy='mean')
impute_num.fit(X_train[num_Attr_Names])

X_train_num = pd.DataFrame(impute_num.transform(X_train[num_Attr_Names]), columns=num_Attr_Names)
X_test_num = pd.DataFrame(impute_num.transform(X_test[num_Attr_Names]), columns=num_Attr_Names)

#### Impute Categorical Attributes

In [23]:
impute_cat = SimpleImputer(strategy='most_frequent')
impute_cat.fit(X_train[cat_Attr_Names])

X_train_cat = pd.DataFrame(impute_cat.transform(X_train[cat_Attr_Names]), columns=cat_Attr_Names)
X_test_cat = pd.DataFrame(impute_cat.transform(X_test[cat_Attr_Names]), columns=cat_Attr_Names)

#### Standardize Numeric Attributes:

In [24]:
scaler = StandardScaler()
scaler.fit(X_train_num)

X_train_num = pd.DataFrame(scaler.transform(X_train_num), columns=num_Attr_Names)
X_test_num = pd.DataFrame(scaler.transform(X_test_num), columns=num_Attr_Names)

#### OneHotEncode Categorial Attributes:

In [25]:
ohe = OneHotEncoder(handle_unknown='ignore')
ohe.fit(X_train_cat)

columns_ohe = list(ohe.get_feature_names(cat_Attr_Names))

X_train_cat = ohe.transform(X_train_cat)
X_test_cat = ohe.transform(X_test_cat)

X_train_cat = pd.DataFrame(X_train_cat.todense(), columns=columns_ohe)
X_test_cat = pd.DataFrame(X_test_cat.todense(), columns=columns_ohe)

In [26]:
X_train = pd.concat([X_train_num, X_train_cat], axis=1)
X_test = pd.concat([X_test_num, X_test_cat], axis=1)

In [27]:
X_train.shape

(28831, 57)

In [28]:
new_Ind_Attr_Names = X_train.columns
new_Ind_Attr_Names

Index(['age', 'duration', 'compaign', 'pdays', 'previous', 'emp_var_rate',
       'cons_price_idx', 'cons_conf_idx', 'euribor3m', 'nr_employees',
       'job_admin.', 'job_blue-collar', 'job_entrepreneur', 'job_housemaid',
       'job_management', 'job_retired', 'job_self-employed', 'job_services',
       'job_student', 'job_technician', 'job_unemployed', 'marital_divorced',
       'marital_married', 'marital_single', 'eduation_basic.4y',
       'eduation_basic.6y', 'eduation_basic.9y', 'eduation_high.school',
       'eduation_illiterate', 'eduation_professional.course',
       'eduation_university.degree', 'credit_default_no', 'credit_default_yes',
       'housing_no', 'housing_yes', 'loan_no', 'loan_yes', 'contact_cellular',
       'contact_telephone', 'contacted_month_apr', 'contacted_month_aug',
       'contacted_month_dec', 'contacted_month_jul', 'contacted_month_jun',
       'contacted_month_mar', 'contacted_month_may', 'contacted_month_nov',
       'contacted_month_oct', 'contacted_month_sep', 'day_of_week_fri',
       'day_of_week_mon', 'day_of_week_thu', 'day_of_week_tue',
       'day_of_week_wed', 'poutcome_failure', 'poutcome_nonexistent',
       'poutcome_success'],
      dtype='object')

In [29]:
X_train.head()

,age,duration,compaign,pdays,previous,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employees,...,contacted_month_oct,contacted_month_sep,day_of_week_fri,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_failure,poutcome_nonexistent,poutcome_success
0,0.479897,0.233079,-0.573111,0.195559,-0.348328,0.640729,0.716223,0.879444,0.703768,0.324164,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,-1.058517,7.050209,1.268589,0.195559,-0.348328,0.832074,-0.233354,0.944309,0.767418,0.840284,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,0.576048,-0.475595,0.163569,0.195559,-0.348328,0.640729,0.716223,0.879444,0.706082,0.324164,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,-0.289310,0.999524,-0.573111,0.195559,-0.348328,0.640729,0.716223,0.879444,0.704346,0.324164,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,1.345255,-0.356199,0.163569,0.195559,-0.348328,0.640729,0.716223,0.879444,0.705504,0.324164,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

#### Using LabelEncoder to convert target attribute 'y' to Numerical

In [30]:
le = LabelEncoder()

y_train = le.fit_transform(y_train)
y_test = le.transform(y_test)

#### Target attribute distribution

In [31]:
print(pd.value_counts(y_train))
print(pd.value_counts(y_test))

0    25587
1     3244
dtype: int64
0    10961
1     1396
dtype: int64

## Model Building

In [32]:
def build_Cls_Model(model, hyp_Params=None, X_train=X_train, X_test=X_test, y_train=y_train, y_test=y_test):

    if hyp_Params != None:     
        
        model_Grid = GridSearchCV(model, param_grid=hyp_Params, cv=3)
        model_Grid.fit(X_train, y_train)
        
        print(f"The best parameters are {model_Grid.best_params_}")
        model = model_Grid.best_estimator_
    else: 
        model.fit(X_train, y_train)
    
    y_train_Pred = model.predict(X_train)
    y_test_Pred = model.predict(X_test)

    print('========Train=======')
    print(f"Confusion Matrix \n{confusion_matrix(y_train, y_train_Pred)}")
    print(f"Accuracy \n{accuracy_score(y_test, y_test_Pred)}")

    print('========Test=======')
    print(f"Confusion Matrix \n{confusion_matrix(y_test, y_test_Pred)}")
    print(f"Accuracy \n{accuracy_score(y_test, y_test_Pred)}")
  
    return model

### Logistic Regression

In [33]:
lr_model = LogisticRegression()

In [34]:
lr_model.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [35]:
y_train_Pred = lr_model.predict(X_train)
y_test_Pred = lr_model.predict(X_test)

In [36]:
print('========Train=======')
print(f"Confusion Matrix \n{confusion_matrix(y_train, y_train_Pred)}")
print(f"Accuracy \n{accuracy_score(y_test, y_test_Pred)}")

========Train=======
Confusion Matrix
[[24884   703]
 [ 1871  1373]]
Accuracy
0.9126001456664239

In [37]:
print('========Test=======')
print(f"Confusion Matrix \n{confusion_matrix(y_test, y_test_Pred)}")
print(f"Accuracy \n{accuracy_score(y_test, y_test_Pred)}")

========Test=======
Confusion Matrix
[[10674   287]
 [  793   603]]
Accuracy
0.9126001456664239